html {
  font-family: "Baskerville (serif)";
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-width: 650px;
  max-width: 1800px;
  margin: 0px auto;
  background-color: #fefefe;
  color: #7e5b57;
  background-image: url("https://t3.ftcdn.net/jpg/04/19/58/38/240_F_419583824_yKiDJ2rzzIBiJjrVth5JE7ehYlxYUSkI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100vw;

  & main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    margin: 0 32px 32px;
    z-index: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
