.totalCountriesList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
  & .continentListContainer {
    display: flex;
    background-color: #f0ebe782;
    backdrop-filter: blur(24px);
    border-radius: 8px;
    margin: 0;
    transition: all 1s ease-in-out;

    &__continent {
      display: flex;
      padding: 16px;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      list-style: none;
      cursor: pointer;

      &::marker {
        content: none;
      }
      &::-webkit-details-marker {
        display: none;
      }
      &:hover > .airplane {
        transform: translateX(4px);
      }

      & .airplane {
        margin-left: 8px;
        display: inline-flex;
        transition: 0.3s;
      }
    }

    &[open] .airplane {
      transform: rotate(90deg);
    }

    &__table {
      width: 100%;
      padding: 0px 16px;

      & thead {
        width: 100%;
        font-size: 1.2rem;
        text-align: left;
      }
      & tbody {
        width: 100%;
        font-size: 1.1rem;

        & td {
          padding: 6px 0px;
          border-bottom: 1px solid #ddd6d2;
        }
      }
      & tr {
        & .col_1 {
          width: calc(60%);
        }
        & .col_2 {
          text-align: center;
        }
        & .col_3 {
          text-align: center;
        }
      }
    }
  }
}
